<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <p id="heading">CRYPTO_GUARD</p>
    </header>
    <nav>
        <ul class="container">
            <li><a href="/">Home</a></li>
            <li><a href="encrypt_info.html">Encrypt</a></li>
            <li><a href="decrypt_info.html">Decrypt</a></li>
            <li><a href="application.html">Application</a></li>
            
        </ul>
    </nav>
    <p style="font-size: 40px; color: rgb(52, 79, 79);">__Applications__</p>
    <h6 style="font-size: x-large;">Real life applications of encryption and decryption</h6>
    <h6 style="font-size: x-large;color: rgb(52, 79, 79);">Authentication/Digital Signatures</h6>
    <p>Authentication is any process through which one proves and verifies certain information. Sometimes one may want to verify the origin of a document, the identity of the sender, the time and date a document was sent and/or signed, the identity of a computer or user, and so on. A digital signature is a cryptographic means through which many of these may be verified. The digital signature of a document is a piece of information based on both the document and the signer’s private key. It is typically created through the use of a hash function and a private signing function (algorithms that create encypyted characters containing specific information about a document and its private keys).</p>
    <h6 style="font-size: x-large;color: rgb(52, 79, 79);">Time Stamping:</h6>
    <p>Time stamping is a technique that can certify that a certain electronic document or communication existed or was delivered at a certain time. Time stamping uses an encryption model called a blind signature scheme. Blind signature schemes allow the sender to get a message receipted by another party without revealing any information about the message to the other party.</p>
    <p>Time stamping is very similar to sending a registered letter through the U.S. mail, but provides an additional level of proof. It can prove that a recipient received a specific document. Possible applications include patent applications, copyright archives, and contracts. Time stamping is a critical application that will help make the transition to electronic legal documents possible.</p>
    <h6 style="font-size: x-large;color: rgb(52, 79, 79);">Electronic Money:</h6>
    <p>The definition of electronic money (also called electronic cash or digital cash) is a term that is still evolving. It includes transactions carried out electronically with a net transfer of funds from one party to another, which may be either debit or credit and can be either anonymous or identified. There are both hardware and software implementations.</p>
    <p>Anonymous applications do not reveal the identity of the customer and are based on blind signature schemes. Identified spending schemes reveal the identity of the customer and are based on more general forms of signature schemes. Anonymous schemes are the electronic analog of cash, while identified schemes are the electronic analog of a debit or credit card. There are also some hybrid approaches where payments can be anonymous with respect to the merchant but not the bank ;or anonymous to everyone, but traceable (a sequence of purchases can be related, but not linked directly to the spender’s identity).</p>
    <h6 style="font-size: x-large;color: rgb(52, 79, 79);">Encryption/Decryption in email:</h6>
    <p>Email encryption is a method of securing the content of emails from anyone outside of the email conversation looking to obtain a participant’s information. In its encrypted form, an email is no longer readable by a human. Only with your private email key can your emails be unlocked and decrypted back into the original message.</p>
    <p>Email encryption works by employing something called public key cryptography. Each person with an email address has a pair of keys associated with that email address, and these keys are required in order to encrypt or decrypt an email. One of the keys is known as a “public key”, and is stored on a keyserver where it is tied to your name and email address and can be accessed by anyone. The other key is your private key, which is not shared publicly with anyone.</p>
    <p>When an email is sent, it is encrypted by a computer using the public key and the contents of the email are turned into a complex, indecipherable scramble that is very difficult to crack. This public key cannot be used to decrypt the sent message, only to encrypt it. Only the person with the proper corresponding private key has the ability to decrypt the email and read its contents.</p>
    <h6 style="font-size: x-large;color: rgb(52, 79, 79);">Encryption in Instagram:
    </h6>
    <p>Your interaction with Instagram is likely an encrypted communication. When your phone requests data with instagram it will use SSL/TLS over port 443 to encrypt requests from Instagram servers and will send you data over the same encrypted data stream.</p>
    <p>This prevents malicious parties from eavesdropping on the conversation between you and instagram.</p>
</body>
</html>
