<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Decrypt</title>
</head>
<body>
  <header>
    <p id="heading" style="text-align: center;">CRYPTO_GUARD</p>

</header>
<nav>
    <ul class="container">
        <li><a href="/">Home</a></li>
        <li><a href="encrypt_info.html">Encrypt</a></li>
        <li><a href="decrypt_info.html">Decrypt</a></li>
        <li><a href="application.html">Application</a></li>
        

    </ul>
</nav>
  <p style="font-size: 40px; color: rgb(52, 79, 79);">__Decrypt__</p>
  <p>Decryption is a process that transforms encrypted information into its original format.</p>
  <p>Caesar cipher is an algorithm in cryptography that takes two inputs a number and a text. It decrypted the text with the help of a number.</p>
  <ul class="points">
    <li>The formula of Caesar cipher decryption is De(x) = (x - n) mod 26.</li>
    <li>De(x) stands for Decryption of x</li>
    <li>n is the number that is going to be added</li>
    <li>mod 26 is the modulus</li>
  </ul>
  <h6 style="font-size:x-large">Some significant reasons why description is used:</h6>
  <ul class="points">
    <li>It helps secure sensitive information like login credentials like usernames and passwords.</li>
    <li>Provides confidentiality to private data.</li>
    <li>It helps ensure that the record or file remains unchanged.</li>
    <li>It avoids plagiarism and protects IP.</li>
    <li>It is beneficial for network communications like the internet where a hacker can gain access to unencrypted data</li>
    <li>It lets one protect their data safely without the fear of someone else accessing it.</li>
  </ul>
</body>
</html>


