<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>encrypt</title>
</head>
<body>
  <header>
    <p id="heading" style="text-align: center;">CRYPTO_GUARD</p>
</header>
<nav>
    <ul class="container">
      <li><a href="/">Home</a></li>
        <li><a href="encrypt_info.html">Encrypt</a></li>
        <li><a href="decrypt_info.html">Decrypt</a></li>
        <li><a href="application.html">Application</a></li>
        

    </ul>
</nav>
  <p style="font-size: 40px; color: rgb(52, 79, 79);">__Encrypt__</p>
  <p>The simplest form of data encryption includes taking every letter in a word and having it changed to the following letter but it’s next to in the Alphabet. The way that you could switch back to the original information is to switch the letters in the encrypted code that you received that one letter in the alphabet.</p>
  <p style="font-size: 40px; color: rgb(52, 79, 79);">__Ceaser Cypher__</p>
  <p>Caesar cipher is an algorithm in cryptography that takes two inputs a number and a text. It encrypted the text with the help of a number.</p>
  
  <ul class="points">
    <li>The formula of Caesar cipher encryption is En(x) = (x + n) mod 26.</li>
    <li>En(x) stands for Encryption of x</li>
    <li>n is the number that is going to be added</li>
    <li>mod 26 is the modulus</li>
  </ul>
  
  <p>Using data encryption to protect your company from providing authorized access to your customer’s private information is the best and easiest way to maintain the integrity of your companies security. It’s an indispensable tool for companies that receive large volumes of sensitive information to keep the customers protected from cybercriminals.</p>
  <p>While understanding encryption may seem like a complicated process, taking every step that you can to prevent data loss is essential to the success of your business. Completely understanding that encryption doesn’t have to be something that you handle by yourself. Using data encryption software to help keep all of your private information protected is the best way you can go about taking the first steps do keeping all of your information safe.</p>
</body>
</html>

